<nav class="navbar">
  <div class="container">
    <a href="/" class="navbar-brand">DevDaniii</a>
    <ul class="navbar-list">
      <li class="navbar-item">
        <a href="/home" class="navbar-link" [routerLink]="['/home']">Home</a>
      </li>
      <li class="navbar-item">
        <a [routerLink]="['/programming']" class="navbar-link">Programming</a>
      </li>
      <li class="navbar-item">
        <a href="/iot" class="navbar-link" [routerLink]="['/iot']">IOT</a>
      </li>
      <li class="navbar-item">
        <a href="/automation" class="navbar-link" [routerLink]="['/automation']" >Automation</a>
      </li>
      <li class="navbar-item">
        <a href="/hobbies" class="navbar-link" [routerLink]="['/hobbies']">Hobby</a>
      </li>
      <li class="navbar-item">
        <a href="/blog" class="navbar-link">Blog</a>
      </li>
      <li class="navbar-item">
        <a href="/contact" class="navbar-link">Contact</a>
      </li>
      <li class="navbar-item">
        <a href="/about" class="navbar-link">About</a>
      </li>
    </ul>
  </div>
</nav>
