<nav class="navbar">
  <div class="container">
    <a href="/" class="navbar-brand">DevDaniii</a>
    <ul class="navbar-list">
      <li class="navbar-item">
        <a href="/home" class="navbar-link">Home</a>
      </li>
      <li class="navbar-item">
        <a href="/contact" class="navbar-link">Programming</a>
      </li>
      <li class="navbar-item">
        <a href="/contact" class="navbar-link">IOT</a>
      </li>
      <li class="navbar-item">
        <a href="/contact" class="navbar-link">Automation</a>
      </li>
      <li class="navbar-item">
        <a href="/contact" class="navbar-link">Hobby</a>
      </li>
      <li class="navbar-item">
        <a href="/contact" class="navbar-link">Blog</a>
      </li>
      <li class="navbar-item">
        <a href="/contact" class="navbar-link">Contact</a>
      </li>
      <li class="navbar-item">
        <a href="/about" class="navbar-link">About</a>
      </li>
    </ul>
  </div>
</nav>
