$theme-light: (
  primary: #89c6ff,
  secondary: #c5a1ff,
  accent: #ff89ac,
  background: #f0f0f0,
  text: #8dff70
);

$theme-dark: (
  primary: #1B08DB,
  secondary: #9400D3,
  accent: #FF206E,
  background: #1B1B1B,
  text: #31FF00
);
